@model IEnumerable<MVCHomeWork_1.Models.客戶銀行資訊>
@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "客戶銀行資訊";
}

<h2>客戶銀行資訊</h2>

<p>
    @Html.ActionLink("新增銀行資訊", "Create")
</p>
<p>
    @using (Html.BeginForm("Index", "客戶銀行資訊"))
    {
        <input type="search" name="keyword_bank" value="" />
        <input type="submit" value="尋找"/>
    }
</p>

@Html.PagedListPager(Model as IPagedList, (p) => Url.Action("Index", new { page = p}))

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.銀行名稱)
        </th>
        <th>
            <a href="@Url.Action("Index", "客戶銀行資訊", new { sort = "++", keyword_bank = ViewBag.keyword_bank})">遞增</a>
            @Html.DisplayNameFor(model => model.銀行代碼)
            <a href="@Url.Action("Index", "客戶銀行資訊", new { sort = "--", keyword_bank = ViewBag.keyword_bank})">遞減</a>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.分行代碼)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.帳戶名稱)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.帳戶號碼)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.客戶資料.客戶名稱)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.銀行名稱)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.銀行代碼)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.分行代碼)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.帳戶名稱)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.帳戶號碼)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.客戶資料.客戶名稱)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
